@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<html>
    <body>
    <!-- Page Header Start -->
    <div class="container-fluid page-header-a mb-5 wow fadeIn text-white" data-wow-delay="0.1s">
        <div class="container">
            <h1 class="display-3 mb-4 animated slideInDown text-white">About</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
                    <li class="breadcrumb-item"><a href="#" class="text-white">Pages</a></li>
                    <li class="breadcrumb-item active text-white" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4 align-items-end mb-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="~/finanza-1.0.0/img/about.jpg">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">About Us</p>
                    <h3 class="fw-bold">Premium Deadline Management is a cloud portal that works as a Companies House filing deadline manager, allowing accountants to manage their clients' Companies House filing deadlines.</h3>
                    <p class="fw-bold">
                        Make your workflow easier with best Companies House deadline tracker
                    </p>
                    <p class="mb-4">
                        Are you tired of struggling to keep track of your clients' Companies House filing deadlines? Do you worry about missing submissions and incurring penalties? Premium Deadline Management is here to help! We have created a Companies House deadline tracker to overcome the hassle accountancy practices normally need to bear! With hundreds or thousands of clients, you need a hand to organize your clients' due dates.
                    </p>
                    <p class="fw-bold">
                        Never miss a Companies House Deadline and avoid late filing penalties.
                    </p>
                    <p class="mb-4">
                        Our Companies House deadline tracker makes it easy to stay organised with your filing due dates, providing a comprehensive solution for accounting practices. With Premium Deadline Management, you can track deadlines for all of your clients in one place so you don’t miss any submissions, which can lead to unhappy customers! Our user-friendly interface allows you to view your upcoming obligations and helps you to plan ahead.
                    </p>
                </div>
            </div>
            <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-times text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>No Overcomplicated</h4>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Workflow Easier</h4>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>24/7 Available</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    </body>
</html>