<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect SOMEe domain to main domain" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTP_HOST}" pattern="^premiumdm\.somee\.com$" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://premiumdm.co.uk/{R:1}" redirectType="Permanent" />
          </rule>
          <rule name="Redirect non-www to HTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              <add input="{HTTP_HOST}" pattern="^premiumdm\.co\.uk$" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://premiumdm.co.uk/{R:1}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\PremiumDM.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 417ACFE8-FFB1-50CA-0487-F176BDCE9DAD-->
