<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PremiumDM - Financial Services</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C83CGLH9NR"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C83CGLH9NR');
    </script>
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- Favicon -->
    <link href="~/finanza-1.0.0/img/logo.jpg" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/finanza-1.0.0/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/finanza-1.0.0/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/finanza-1.0.0/css/bootstrap.min.css" rel="stylesheet">

	<!-- Template Stylesheet -->
    <link href="~/finanza-1.0.0/css/style.css" rel="stylesheet">
</head>

<body>
    <div>
        @RenderBody()
    </div>
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <div class="container-fluid fixed-top px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="top-bar row gx-0 align-items-center d-none d-lg-flex" style="background-color:#007bff">
            <div class="col-lg-6 px-5 text-start">
                @* <small style="color: white;"> *@
                @*     <i class="fa fa-map-marker-alt me-2" style="color: white;"></i> 30 Connaught Avenue Hounslow London TW4 5BW *@
                @* </small> *@
                <small style="color: white;">
                    <i class="fa fa-envelope me-2" style="color: white;"></i> info@premiumaccountants.co.uk
                </small>
                <small class="ms-4" style="color: white;">
                    <i class="fa fa-clock me-2" style="color: white;"></i> 9.00 am - 9.00 pm
                </small>
            </div>
            <div class="col-lg-6 px-5 text-end">
                @* <small style="color: white;"> *@
                @*     <i class="fa fa-envelope me-2" style="color: white;"></i> info@premiumaccountants.co.uk *@
                @* </small> *@
                <small class="ms-4" style="color: white;">
                    <i class="fa fa-phone-alt me-2" style="color: white;"></i> +0208 087 2245
                </small>
                <!-- Social Media Icons -->
                <small class="ms-4">
                    <a href="https://www.facebook.com" target="_blank" style="color: white; margin-right: 10px;">
                        <i class="fab fa-facebook-f" style="font-size: 18px; padding: 5px; border-radius: 50%; border: 1px solid white; width: 30px; height: 30px; display: inline-flex; justify-content: center; align-items: center;"></i>
                    </a>
                    <a href="https://www.instagram.com" target="_blank" style="color: white; margin-right: 10px;">
                        <i class="fab fa-instagram" style="font-size: 18px; padding: 5px; border-radius: 50%; border: 1px solid white; width: 30px; height: 30px; display: inline-flex; justify-content: center; align-items: center;"></i>
                    </a>
                    <a href="https://www.twitter.com" target="_blank" style="color: white;">
                        <i class="fab fa-twitter" style="font-size: 18px; padding: 5px; border-radius: 50%; border: 1px solid white; width: 30px; height: 30px; display: inline-flex; justify-content: center; align-items: center;"></i>
                    </a>
                </small>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s" style="background-color:white">
            <div class="container-fluid">
                <!-- Logo at the left corner -->
                <a class="nav-item" asp-action="Index" asp-controller="Home">
                    <img src="~/finanza-1.0.0/img/logo.jpg" alt="Logo" class="img-fluid" style="height: 50px;">
                </a>

                <!-- Navbar toggler for mobile view -->
                <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Centering navbar items -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto me-auto p-4 p-lg-0 flex-grow-1 justify-content-center">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/About">About</a>

                        <!-- Services Dropdown -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/Service/AutomatedDeadlineReminder">Automated Deadline Reminder</a>
                                <a class="dropdown-item" href="/Service/DeadlineStatusVisualization">Deadline Status Visualization</a>
                                <a class="dropdown-item" href="/Service/CompaniesHouseSync">Companies House Sync</a>
                                <a class="dropdown-item" href="/Service/WorkflowEasier">Workflow Easier</a>
                                <a class="dropdown-item" href="/Service/AutoDeadlineTracking">Auto Deadline Tracking</a>
                            </div>
                        </div>

                        <a class="nav-item nav-link" href="/Contact">Contact</a>
                    </div>

                    <!-- Login/Register or DashBoard at the right corner -->
                    <div class="navbar-nav me-auto p-4 p-lg-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-item nav-link" href="/DashBoard">DashBoard</a>
                            <form id="logoutForm" method="post" asp-action="Logout" asp-controller="Account" class="navbar-nav">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="nav-item nav-link" style="font-weight: bold;">
                                    <span class="text-danger">LOGOUT</span>
                                </button>
                            </form>
                        }
                        else
                        {
                            <a class="nav-link scrollto" asp-action="Login" asp-controller="Account"
                               style="background-color: #007bff; color: white; border-radius: 20px; padding: 10px 20px; transition: all 0.3s ease;">
                                <i class="fas fa-user-circle me-2"></i> Login/Register
                            </a>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <<div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100 img-fluid" src="~/finanza-1.0.0/img/home-banner.jpg" alt="Image" style="background-size: cover; background-position:center; background-attachment:fixed;">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7">
                                <p class="d-inline-block border border-white rounded text-primary fw-semi-bold py-1 px-3 animated slideInDown">
                                    Welcome to Premium Deadline Management
                                </p>
                                <h1 class="display-1 mb-4 animated slideInDown">Never Miss a Deadline</h1>
                                <a class="btn btn-primary py-3 px-5 animated slideInDown" asp-action="About" asp-controller="Home">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    @* <div class="container my-5 py-5"> *@
    @*     <h2 class="text-center"> *@
    @*         We bring the right people together to challenge established thinking and drive transformation. *@
    @*     </h2> *@
    @*     <div class="row mt-4"> *@
    @*         <div class="col-lg-4 col-md-6 mb-4"> *@
    @*             <div class="feature-box d-flex flex-column justify-content-between text-center p-4 shadow rounded h-100"> *@
    @*                 <i class="fas fa-lightbulb icon fa-3x text-primary mb-3"></i> *@
    @*                 <h4 class="feature-title">We Innovate</h4> *@
    @*                 <p class="feature-text flex-grow-1">We innovate systematically, continuously, and successfully.</p> *@
    @*                 <a href="#" class="text-primary fw-bold mt-auto">Read more</a> *@
    @*             </div> *@
    @*         </div> *@
    @*         <div class="col-lg-4 col-md-6 mb-4"> *@
    @*             <div class="feature-box d-flex flex-column justify-content-between text-center p-4 shadow rounded h-100"> *@
    @*                 <i class="fas fa-chart-line icon fa-3x text-primary mb-3"></i> *@
    @*                 <h4 class="feature-title">Performance</h4> *@
    @*                 <p class="feature-text flex-grow-1">Performance is about solving problems and building business with a focus on results.</p> *@
    @*                 <a href="#" class="text-primary fw-bold mt-auto">Read more</a> *@
    @*             </div> *@
    @*         </div> *@
    @*         <div class="col-lg-4 col-md-12 mb-4"> *@
    @*             <div class="feature-box d-flex flex-column justify-content-between text-center p-4 shadow rounded h-100"> *@
    @*                 <i class="fas fa-folder icon fa-3x text-primary mb-3"></i> *@
    @*                 <h4 class="feature-title">A Full Service</h4> *@
    @*                 <p class="feature-text flex-grow-1">We are a full-service business solutions provider, offering tailored strategies for growth.</p> *@
    @*                 <a href="#" class="text-primary fw-bold mt-auto">Read more</a> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4 align-items-end mb-4">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <img class="img-fluid rounded" src="~/finanza-1.0.0/img/about.jpg">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">About Us</p>
                    <p class="mb-4">
                        Premium Deadline Management is a cloud portal that works as a Companies House filing
                        deadline manager, allowing accountants to manage their clients' Companies House filing
                        deadlines.
                    </p>
                    <div class="border rounded p-4">
                        <nav>
                            <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                                <button class="nav-link fw-semi-bold active" id="nav-story-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-story" type="button" role="tab" aria-controls="nav-story"
                                        aria-selected="true">
                                    Story
                                </button>
                                <button class="nav-link fw-semi-bold" id="nav-mission-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission"
                                        aria-selected="false">
                                    Mission
                                </button>
                                <button class="nav-link fw-semi-bold" id="nav-vision-tab" data-bs-toggle="tab"
                                        data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision"
                                        aria-selected="false">
                                    Vision
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-story" role="tabpanel"
                                 aria-labelledby="nav-story-tab">
                                <p>
                                    We saw accountants struggling with tracking deadlines for hundreds of clients,
                                    leading to missed filings and penalties.
                                </p>
                                <p class="mb-0">
                                    Premium Deadline Management was created
                                    to solve this problem—providing a seamless, reliable, and automated solution
                                    to keep accountants in control.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="nav-mission" role="tabpanel"
                                 aria-labelledby="nav-mission-tab">
                                <p>
                                    We simplify Companies House deadline tracking, ensuring accountants stay
                                    compliant without stress.
                                </p>
                                <p class="mb-0">
                                    Our goal is to eliminate missed filings and penalties
                                    through an efficient, user-friendly system.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                                <p>
                                    To be the most trusted and innovative solution for deadline management,
                                    helping accountancy practices stay organized, efficient, and penalty-free.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border rounded p-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-times text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>No Overcomplicated</h4>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-users text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>Workflow Easier</h4>
                                </div>
                                <div class="border-end d-none d-lg-block"></div>
                            </div>
                            <div class="border-bottom mt-4 d-block d-lg-none"></div>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="h-100">
                            <div class="d-flex">
                                <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                    <i class="fa fa-phone text-white"></i>
                                </div>
                                <div class="ps-3">
                                    <h4>24/7 Available</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Start -->
    <div class="container-xxl feature py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Why Choosing Us!</p>
                    <h1 class="display-5 mb-4">Few Reasons Why People Choosing Us!</h1>
                    <p class="mb-4">
                        With Premium Deadline Management, you can track deadlines for all of your clients in one place so you don’t miss any submissions,
                        which can lead to unhappy customers! Our user-friendly interface allows you to view your upcoming obligations and helps you to
                        plan ahead.
                    </p>
                    <a class="btn btn-primary py-3 px-5" href="">Explore More</a>
                </div>
                <div class="col-lg-6">
                    <div class="row g-4 align-items-center">
                        <div class="col-md-6">
                            <div class="row g-4">
                                <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                        <h4 class="mb-3">Effortless Tracking</h4>
                                        <p class="mb-3">
                                            Easily track Companies House filing deadlines 
                                            without the stress. Stay organized and never miss
                                            an important date.
                                        </p>
                                        <a class="fw-semi-bold" href="">
                                            Read More <i class="fa fa-arrow-right ms-1"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                                    <div class="feature-box border rounded p-4">
                                        <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                        <h4 class="mb-3">No More Penalties</h4>
                                        <p class="mb-3">
                                            Avoid late submissions and costly fines with our smart deadline 
                                            management system. Keep your filings on time, every time.
                                        </p>
                                        <a class="fw-semi-bold" href="">
                                            Read More <i class="fa fa-arrow-right ms-1"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeIn" data-wow-delay="0.7s">
                            <div class="feature-box border rounded p-4">
                                <i class="fa fa-check fa-3x text-primary mb-3"></i>
                                <h4 class="mb-3">Easy Organization</h4>
                                <p class="mb-3">
                                    Manage hundreds or thousands of client deadlines effortlessly.
                                    Our tool helps streamline your workflow and boost efficiency.
                                </p>
                                <a class="fw-semi-bold" href="">Read More <i class="fa fa-arrow-right ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features End -->
    <!-- Service Start -->
    <div class="container-xxl service py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Our Services</p>
                <h1 class="display-5 mb-5">Awesome Financial Services For Business</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active"
                                data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Automated Deadline Reminder</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                                data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Deadline Status Visualization</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4"
                                data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Workflow Easier</h5>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0"
                                data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Auto Deadline Tracking</h5>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="rounded w-100 h-100" src="~/finanza-1.0.0/img/service-2.jpg"
                                             style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Deadline Status Visualization</h3>
                                    <p class="mb-4">
                                        Displays overdue and upcoming deadlines in a clear bar chart format,
                                        allowing users to quickly assess due tasks and manage priorities
                                        efficiently.
                                    </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Track Overdue & Upcoming Deadlines</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Visual Reports & Graphs</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Customizable Deadline Filters</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="rounded w-100 h-100" src="~/finanza-1.0.0/img/service-1.jpg"
                                             style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Automated Deadline Reminder</h3>
                                    <p class="mb-4">
                                        Sends reminder emails every 24 hours after a deadline has passed, ensuring
                                        that no important tasks are missed. Keep users informed with consistent,
                                        timely notifications.
                                    </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>24-Hour Reminder NotificationsSecured Loans</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Email Alerts</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Auto-Escalation for Missed Deadlines</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="rounded w-100 h-100" src="~/finanza-1.0.0/img/service-3.jpg"
                                             style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Workflow Easier</h3>
                                    <p class="mb-4">
                                        Premium Deadline Management is here to help! We have created a Companies House deadline tracker to overcome the hassle accountancy practices normally need to bear!
                                    </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Centralized Dashboard for All Clients</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Real-Time Deadline Updates</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Secure Cloud Storage</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="rounded w-100 h-100" src="~/finanza-1.0.0/img/service-4.jpg"
                                             style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="mb-4">Auto Deadline Tracking</h3>
                                    <p class="mb-4">
                                        Automatically updates due dates for Accounts submission and CS01 - Confirmation Statement. This seamless integration ensures you always stay on top of your deadlines.
                                    </p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Automated Accounts Submission Tracking</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Confirmation Statement Alert</p>
                                    <p><i class="fa fa-check text-primary me-3"></i>Custom Deadline Configurations</p>
                                    <a href="" class="btn btn-primary py-3 px-5 mt-3">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    <!-- Callback Start -->
    @* <div class="container-fluid callback my-5 pt-5"> *@
    @*     <div class="container pt-5"> *@
    @*         <div class="row justify-content-center"> *@
    @*             <div class="col-lg-7"> *@
    @*                 <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s"> *@
    @*                     <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;"> *@
    @*                         <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3"> *@
    @*                             Get In Touch *@
    @*                         </p> *@
    @*                         <h1 class="display-5 mb-5">Request A Call-Back</h1> *@
    @*                     </div> *@
    @*                     <div class="row g-3"> *@
    @*                         <div class="col-sm-6"> *@
    @*                             <div class="form-floating"> *@
    @*                                 <input type="text" class="form-control" id="name" placeholder="Your Name"> *@
    @*                                 <label for="name">Your Name</label> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                         <div class="col-sm-6"> *@
    @*                             <div class="form-floating"> *@
    @*                                 <input type="email" class="form-control" id="mail" placeholder="Your Email"> *@
    @*                                 <label for="mail">Your Email</label> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                         <div class="col-sm-6"> *@
    @*                             <div class="form-floating"> *@
    @*                                 <input type="text" class="form-control" id="mobile" placeholder="Your Mobile"> *@
    @*                                 <label for="mobile">Your Mobile</label> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                         <div class="col-sm-6"> *@
    @*                             <div class="form-floating"> *@
    @*                                 <input type="text" class="form-control" id="subject" placeholder="Subject"> *@
    @*                                 <label for="subject">Subject</label> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                         <div class="col-12"> *@
    @*                             <div class="form-floating"> *@
    @*                                 <textarea class="form-control" placeholder="Leave a message here" id="message" *@
    @*                                           style="height: 100px"></textarea> *@
    @*                                 <label for="message">Message</label> *@
    @*                             </div> *@
    @*                         </div> *@
    @*                         <div class="col-12 text-center"> *@
    @*                             <button class="btn btn-primary w-100 py-3" type="submit">Submit Now</button> *@
    @*                         </div> *@
    @*                     </div> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    @* <div class="container-xxl py-5"> *@
    @*     <div class="container"> *@
    @*         <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;"> *@
    @*             <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Testimonial</p> *@
    @*             <h1 class="display-5 mb-5">What Our Clients Say!</h1> *@
    @*         </div> *@
    @*         <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.3s"> *@
    @*             <div class="testimonial-item"> *@
    @*                 <div class="testimonial-text border rounded p-4 pt-5 mb-5"> *@
    @*                     <div class="btn-square bg-white border rounded-circle"> *@
    @*                         <i class="fa fa-quote-right fa-2x text-primary"></i> *@
    @*                     </div> *@
    @*                     Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem *@
    @*                     lorem magna ut et, nonumy et labore et tempor diam tempor erat. *@
    @*                 </div> *@
    @*                 <img class="rounded-circle mb-3" src="~/finanza-1.0.0/img/testimonial-1.jpg" alt=""> *@
    @*                 <h4>Client Name</h4> *@
    @*                 <span>Profession</span> *@
    @*             </div> *@
    @*             <div class="testimonial-item"> *@
    @*                 <div class="testimonial-text border rounded p-4 pt-5 mb-5"> *@
    @*                     <div class="btn-square bg-white border rounded-circle"> *@
    @*                         <i class="fa fa-quote-right fa-2x text-primary"></i> *@
    @*                     </div> *@
    @*                     Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem *@
    @*                     lorem magna ut et, nonumy et labore et tempor diam tempor erat. *@
    @*                 </div> *@
    @*                 <img class="rounded-circle mb-3" src="~/finanza-1.0.0/img/testimonial-2.jpg" alt=""> *@
    @*                 <h4>Client Name</h4> *@
    @*                 <span>Profession</span> *@
    @*             </div> *@
    @*             <div class="testimonial-item"> *@
    @*                 <div class="testimonial-text border rounded p-4 pt-5 mb-5"> *@
    @*                     <div class="btn-square bg-white border rounded-circle"> *@
    @*                         <i class="fa fa-quote-right fa-2x text-primary"></i> *@
    @*                     </div> *@
    @*                     Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem *@
    @*                     lorem magna ut et, nonumy et labore et tempor diam tempor erat. *@
    @*                 </div> *@
    @*                 <img class="rounded-circle mb-3" src="~/finanza-1.0.0/img/testimonial-3.jpg" alt=""> *@
    @*                 <h4>Client Name</h4> *@
    @*                 <span>Profession</span> *@
    @*             </div> *@
    @*             <div class="testimonial-item"> *@
    @*                 <div class="testimonial-text border rounded p-4 pt-5 mb-5"> *@
    @*                     <div class="btn-square bg-white border rounded-circle"> *@
    @*                         <i class="fa fa-quote-right fa-2x text-primary"></i> *@
    @*                     </div> *@
    @*                     Dolores sed duo clita tempor justo dolor et stet lorem kasd labore dolore lorem ipsum. At lorem *@
    @*                     lorem magna ut et, nonumy et labore et tempor diam tempor erat. *@
    @*                 </div> *@
    @*                 <img class="rounded-circle mb-3" src="~/finanza-1.0.0/img/testimonial-4.jpg" alt=""> *@
    @*                 <h4>Client Name</h4> *@
    @*                 <span>Profession</span> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </div> *@
    <!-- Testimonial End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5" style="text-align:left">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Our Office</h4>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt me-3"></i>London UK
                        </small>
                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+0208 087 2245</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@premiumaccountants.co.uk</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Services</h4>
                    <a class="btn btn-link" href="/Service/AutomatedDeadlineReminder">Automated Deadline Reminder</a>
                    <a class="btn btn-link" href="/Service/DeadlineStatusVisualization">Deadline Status Visualization</a>
                    <a class="btn btn-link" href="/Service/CompaniesHouseSync">Companies House Sync</a>
                    <a class="btn btn-link" href="/Service/WorkflowEasier">Workflow Easier</a>
                    <a class="btn btn-link" href="/Service/AutoDeadlineTracking">Auto Deadline Tracking</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="/About">About Us</a>
                    <a class="btn btn-link" href="/Contact">Contact Us</a>
                    <a class="btn btn-link" href="/Service">Our Services</a>
                    <a class="btn btn-link" href="/Support">Support</a>
                    <a class="btn btn-link" href="/Term&Condition">Term & Conditions</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Newsletter</h4>
                    <p>Stay updated with our latest news and updates.</p>

                    <div class="position-relative w-100">
                        <input id="emailInput" class="form-control bg-white border-0 w-100 py-3 ps-4 pe-5" type="text"
                               placeholder="Your email">
                        <button id="signUpBtn" type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">
                            Send Now
                        </button>
                    </div>

                    <!-- Success Message (Hidden by Default) -->
                    <div id="successMessage" class="mt-3 text-success fw-bold d-none">
                        ✅ Subscription Successful!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Premium DeadLine Management</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://mt-london.co.uk/">Micro Tech London</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/finanza-1.0.0/lib/wow/wow.min.js"></script>
    <script src="~/finanza-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/finanza-1.0.0/lib/waypoints/waypoints.min.js"></script>
    <script src="~/finanza-1.0.0/lib/owlcarousel/owl.carousel.min.js">  </script>
    <script src="~/finanza-1.0.0/lib/counterup/counterup.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/finanza-1.0.0/js/main.js"></script>
</body>

</html>







<style>
    body {
        text-align: center;
    }

    .feature-box {
        background: #f8f9fc;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px;
    }

    .icon {
        font-size: 40px;
        color: #007bff;
    }

    .feature-title {
        margin-top: 15px;
        font-weight: bold;
    }

    .feature-text {
        color: #666;
        margin-bottom: 15px;
    }
</style>
<script>
    document.getElementById("signUpBtn").addEventListener("click", () => {
        document.getElementById("successMessage").classList.remove("d-none");
        setTimeout(() => {
            document.getElementById("successMessage").classList.add("d-none");
        }, 3000);
    });
</script>